# --- Framework Principal ---
fastapi

# --- Servidor ASGI para ejecutar la aplicación ---
uvicorn[standard]

# --- Base de Datos (ORM y driver) ---
mysql-connector-python #-- Para conectar a la base de datos

# --- Seguridad (Contraseñas y JWT) ---
passlib[bcrypt]
python-jose[cryptography]

# --- Variables de Entorno (.env) ---
python-dotenv

# --- Validación de datos ---
pydantic[email] # El extra [email] es para validar correos electrónicos

#¿Cómo usarlo?
#Una vez que hayas creado y guardado el archivo, solo necesitas ejecutar el siguiente comando desde la terminal (asegurándote de que tu entorno virtual esté activado y estés en la carpeta backend):

#Bash

#pip install -r requirements.txt